@page "/"
@using Sat_Tue5_7.Models;
@using Sat_Tue5_7.RepositoryPatterns.Interfaces;

@inject IArchiving _Archiving 

<div style="margin:10px;padding:20px">

<div class="row row-cols-1 row-cols-md-3 g-4">
    @foreach (var item in ListOfAllArchives)
    {
        <MudCard >
            <MudCardHeader>
                <CardHeaderAvatar>
                    <MudAvatar Color="Color.Secondary">I</MudAvatar>
                </CardHeaderAvatar>
                <CardHeaderContent>
                    <MudText Typo="Typo.body1">@item.DocName</MudText>
                    <MudText Typo="Typo.body2">@item.DocDate.ToShortDateString()</MudText>
                </CardHeaderContent>
                <CardHeaderActions>
                    <MudIconButton Icon="@Icons.Material.Filled.Settings" Color="Color.Default" />
                </CardHeaderActions>
            </MudCardHeader>
            <MudCardMedia Image="@item.ThumbnailPath" Height="250" />
            <MudCardContent>
                <MudText Typo="Typo.body2">From :@item.From -- To :@item.To</MudText>
            </MudCardContent>
            <MudCardActions>
                <MudIconButton Icon="@Icons.Material.Filled.Favorite" Color="Color.Default" />
                <MudIconButton Icon="@Icons.Material.Filled.Share" Color="Color.Default" />
            </MudCardActions>
        </MudCard>
    }
</div>
</div>






    
@code{

    public List<ArchivingModel> ListOfAllArchives { get; set; } = new List<ArchivingModel>();

    protected override async Task OnInitializedAsync()
    {
        ListOfAllArchives = await _Archiving.GetAllArchives();
    }



}
